<!-- Default form customers register -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up as a Customer </p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input type="text" id="defaultRegisterFormFirstName" class="form-control" [(ngModel)]="firstName" name="firstname" placeholder="Name">
    </div>
    <div class="col">
      <!-- Last Name -->
      <input type="text" id="defaultRegisterFormpostalcodee" class="form-control" [(ngModel)]="postalcode" name="postalcode" placeholder="Postal Code">
    </div>
  </div>

  <div class="form-row mb-4">
    <div class="col">
      <!-- Address -->
      <input type="text" id="defaultRegisterFormShopAddress" class="form-control" [(ngModel)]="address" name="address" placeholder="Address">
    </div>
    <div class="col">
      <!-- Contact -->
      <input type="text" id="defaultRegisterFormContactNumber" class="form-control" [(ngModel)]="contact" name="contact" placeholder="Contact Number">
    </div>
  </div>

  <!-- E-mail -->
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" [(ngModel)]="email" name="email" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" [(ngModel)]="password" name="password" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" class="my-4" type="button" (click)="CreateCustomer()" >Sign Up</button>

  <!-- Social register -->
  <p>or sign up with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="google"></mdb-icon>
  </a>

  <hr>

  <!-- Terms of service -->
  <p>By clicking
    <em>Sign up</em> you agree to our
    <a href="" target="_blank">terms of service</a></p>

</form>
<!-- Default form register -->