<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg fixed-top navbar-dark black" [containerInside]="true">
        <mdb-navbar-brand>
            <a class="logo navbar-brand text-warning" href="#"><strong>MILCO</strong></a>
        </mdb-navbar-brand>
        <links class="navbaritems">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link" href='#'>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)= "ProductsClick()" >Products</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="RecipeClick()">Recipe</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"(click)='AboutClick()'>About</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click) = 'ContactUsClick()'>Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                  <a class="nav-link">
                    <mdb-icon fas icon="shopping-cart" (click)= 'cartClicked()'></mdb-icon>
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="ShopLoginClicked()">
                      <mdb-icon fas icon="store"></mdb-icon>
                    </a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link">
                    <div class="btn-group" mdbDropdown>
                      <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                      <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                        <a class="dropdown-item"(click)="SinginClicked()">Sign In</a>
                        <a class="dropdown-item" (click)="SingupClicked()">Sign Up</a>
                      </div>
                    </div>
                  </a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
  </header>
  
  
  
