<div class="container">

<!-- Section: Blog v.1 -->
<section class="my-1">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-2">Recipe Videos</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Do you know how easy it is to make dairy products at home?
       Click on the video links to know homemade recipes for raw milk and dairy products to feed your family.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../assets/v1.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Chocolate Barfi Roll | Milk Powder Recipe</strong></h3>
        <!-- Excerpt -->
        <p>Today's recipe is a tasty, healthy and simple "CHOCOLATE BARFI" with only 3 ingredients  . 
          So do try this yummy recipeat at home.</p>
        <p>Ingredients used : Milk powder - 1, cup Milk - 1/2 cup,
          Cocoa powder - 1 tbsp.</p>  
        <!-- Read more button -->
        <a mdbBtn color="warning" mdbWavesEffect>Click to Watch</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
      
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Easy Milk Barfi Recipe – Milk Cake – Dessert Recipe</strong></h3>
        <!-- Excerpt -->
        <p>For this milk cake recipe you only need
          milk and sugar, no other ingredients are required. Depending on different place this
         milk recipe is also known as milk barfi or simply barfi recipe.
         To make the milk dessert recipe you have to control heat carefully otherwise milk 
         barfi will burn and you will not get perfect taste from it. For this burfi without milk 
         powder at first use medium flame until you get comparatively thicker milk. 
         After that you have to use low flame until you get final dough.
         </p>
        <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Click to Watch</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../assets/v2.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../assets/v3.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Homemade Condensed Milk | How to Make Condensed Milk at Home</strong></h3>
        <!-- Excerpt -->
        <p>Today's recipe is a tasty, healthy and simple "CHOCOLATE BARFI" with only 3 ingredients  . 
          So do try this yummy recipe at home. Ingredients used : Milk powder - 1 cup, 
          Milk - 1/2 cup, Cocoa powder - 1 tbs</p>
        <!-- Read more button -->
        <a mdbBtn color="indigo" mdbWavesEffect>Click to Watch</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.1 -->


  <!-- Section: Blog v.2 -->
<section class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-2">Recepi Articles</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Do you know how easy it is to make dairy products at home?
      Click on the article links to know homemade recipes for raw milk and dairy products to feed your family</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../assets/A1.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Milk Cake – Dessert Recipe</strong></h4>

        <!-- Excerpt -->
        <p class="dark-grey-text">For this milk cake recipe you only need
          milk and sugar, no other ingredients are required. Depending on different place this
         milk recipe...</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" rounded="true" mdbWavesEffect>Read full Article</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../assets/A2.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
       
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Homemade Condensed Milk - Part 01</strong></h4>

        <p class="dark-grey-text">This homemade condensed milk recipe will teach you how you can make condensed milk at home in a few easy steps..</p>
        <!-- Read more button -->
        <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect>Read full Article</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../assets/A2.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Homemade Condensed Milk - Part 02</strong></h4>
        <!-- Excerpt -->
        <p class="dark-grey-text">This homemade condensed milk recipe will teach you how you can make condensed milk at home in a few easy steps...</p>
        <!-- Read more button -->
        <a mdbBtn color="info" rounded="true" mdbWavesEffect>Read full Article</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.2 -->


</div>
