<div class="container">

    <!-- Default form login -->
    <form class="text-center border border-light p-5">
    
        <p class="h4 mb-4">SignIn to Order Products</p>
      
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
      
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
      
        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>
      
        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="signInClicked()">Sign in</button>
      
        <!-- Register -->
        <p>Don't have an account
          <a (click)="SwitchToSignUP()" class="text-primary"> <strong>Register</strong></a> here.
        </p>
      
        <!-- Social login -->
        <p>or sign in with:</p>
      
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="google"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="apple"></mdb-icon>
          </a>
      
      </form>
      <!-- Default form login -->
    
    
    </div>