<!-- Default form register -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up as a Sales Outlet</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- Shop name -->
      <input type="text" id="defaultRegisterFormShopName" class="form-control" placeholder="Shop name">
    </div>
    <div class="col">
      <!-- Business Reg ID -->
      <input type="text" id="defaultRegisterFormBusinessID" class="form-control" placeholder="Shop Registration ID">
    </div>
  </div>

  <div class="form-row mb-4">
    <div class="col">
      <!-- Address -->
      <input type="text" id="defaultRegisterFormShopAddress" class="form-control" placeholder="Address">
    </div>
    <div class="col">
      <!-- Contact -->
      <input type="text" id="defaultRegisterFormContactNumber" class="form-control" placeholder="Contact Number">
    </div>
  </div>

  <!-- E-mail -->
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

  <!-- Social register -->
  <p>or sign up with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="google"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="apple"></mdb-icon>
  </a>

  <hr>

  <!-- Terms of service -->
  <p>By clicking
    <em>Sign up</em> you agree to our
    <a href="" target="_blank">terms of service</a></p>

</form>
<!-- Default form register -->